{% extends 'hotel/base.html' %}{% block content %}

<div class="Contenedor">
    <div class="row">
        <div class="col-md-8">
            <form>
                <table class="table">
                    <h2>Contacto</h2>
                    <input type="text" name="Nombre" placeholder="Nombre" id="name">
                    <br>
                    <input type="email" name="Correo" placeholder="Correo" id="mail">
                    <br>
                    <input type="text" name="telefono" placeholder="Teléfono" id=telefono>
                    <br>
                    <textarea name="mensaje" placeholder="Escriba aquí algún comentario" id="comentario"></textarea>
                    <br>
                    <input type="submit" value="Enviar" id="boton">
                </table>

            </form>
        </div>
    </div>
</div>

<div class="Links">

</div>
{% endblock %}