{% extends 'hotel/base.html' %}{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form>
                <h2>Contacto</h2>
                <input type="text" name="Nombre" placeholder="Nombre" id="name">
                <input type="email" name="Correo" placeholder="Correo" id="mail">
                <input type="text" name="telefono" placeholder="Teléfono" id=telefono>
                <textarea name="mensaje" placeholder="Escriba aquí algún comentario" id="comentario"></textarea>
                <input type="submit" value="Enviar" id="boton">
                <a href="https://www.facebook.com">Puedes saber más acerca de la pagina aquí en facebook</a>

            </form>
        </div>
    </div>
</div>

<div class="Links">

</div>
{% endblock %}