{% extends 'hotel/base.html' %}


{% block content %}

<div class="listaH">
    <h2>Listado de Hoteles</h2>


    <table class="table">
        <tr>
            <th>Nombre Hoteles</th>
            <th>Descripción</th>
            <th>Opciones</th>
        </tr>

        {% for h in hoteles %}

        <tr>
            <td>{{h.title}}</td>
            <td>{{h.text}}</td>
            <td>
                <a href="{% url 'ModificarHotel' %}">Modificar</a>
            </td>
            
        </tr>

        {% endfor%}

    </table>
</div>

{% endblock %}