{% extends 'hotel/base.html' %}


{% block content %}

<div class="listaH">
    <h2>Listado de Hoteles</h2>


    <table class="table">
        <tr>
            <th>Nombre Hoteles</th>      
            <th>Imagen</th>
            <th>Descripción</th>
            <th>Opciones</th>
        </tr>

        {% for h in hoteles %}

        <tr>
            <td>{{h.title}}</td>
            <td>
                {% if h.imagen %}
                <img src="{{ h.imagen.url }}" width="280" height="200">
                {% endif %}
                </td>
            <td>{{h.text}}</td>
           
            <td>
                {% if h.id %}
                <a href="{% url 'ModificarHotel' %}">Modificar</a>
                {% endif %}
            </td>

        </tr>

        {% endfor%}

    </table>
</div>

{% endblock %}