{% extends 'hotel/base.html' %}

{% load static %}

{% block content %}

<div class="slider">
    <ul>
        <li><img src="{% static 'hotel/img/HotelDelMarEnjoyVina.jpg' %}" class="img-responsive" alt="hotel-del-mar-enjoy-vina"></li>
        <li><img src="{% static 'hotel/img/HotelSheraton.jpg' %}" class="img-responsive" alt="hotel-del-mar-enjoy-vina"></li>
        <li><img src="{% static 'hotel/img/HotelOhiggins.jpg' %}" class="img-responsive" alt="hotel-del-mar-enjoy-vina"></li>
       
    </ul>
</div>
{% endblock %}