{% extends 'hotel/base.html' %}

{% load static %}

{% block content %}

<div class="slider">
    <ul>
        <li><img src="{% static 'hotel/img/HotelDelMarEnjoyVina.jpg' %}" class="img-responsive" alt="hotel-del-mar-enjoy-vina"  width="300" height="700"></li>
        <li><img src="{% static 'hotel/img/HotelSheraton.jpg' %}" class="img-responsive" alt="hotel-del-mar-enjoy-vina" width="300" height="700"></li>
        <li><img src="{% static 'hotel/img/HotelOhiggins.jpg' %}" class="img-responsive" alt="hotel-del-mar-enjoy-vina" width="300" height="700"></li>
       
    </ul>
</div>
{% endblock %}